body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A0A2A; /* Dark navy blue */
    color: white;
    font-family: 'Merriweather', serif;
    /* font-family: 'Libre Baskerville', serif; */
    text-align: center;
}
.container {
    border: 2px solid white; /* White border */
    padding: 20px; /* Space inside the rectangle */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: a translucent background */
    color: white; /* Text color */
    text-align: center; /* Center align text */
    max-width: 400px; /* Maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: a subtle shadow */
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.icons a {
    color: white;
    font-size: 3em;
    transition: transform 0.3s;
}
.icons a:hover {
    transform: scale(1.2);
}

.badger-logo {
    width: 75px;
    height: auto;
}